

  <nz-alert nzType="error" nzCloseable nzMessage="Error "
    nzDescription="Please fill in all the required information so you can complete your sign up process"
    (nzOnClose)="afterClose()" *ngIf="error">
  </nz-alert>

  <nz-alert nzType="error" nzCloseable nzMessage="Error "
    nzDescription="Code is Incorrect"
     *ngIf="errorCode">
  </nz-alert>

  <nz-alert nzType="error" nzCloseable nzMessage="Error "
    nzDescription="Code reached its quota limit!"
     *ngIf="maxReached">
  </nz-alert>

<form nz-form [formGroup]="signupForm" >
  <div *ngIf="!codeValid">
    <h1>
      Registration Code
    </h1>
    <h1>
      <nz-form-item>
          <nz-form-control>
            <input nz-input id="regCode" formControlName="regCode" style="width: 200px;"><br>
            <span><I> Note: Checking the code consumes quota once entered</I></span>

            <!-- <nz-form-explain
              *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
              Please input your first name!</nz-form-explain>
              <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
                only include characters!</nz-form-explain> -->
              </nz-form-control>
          </nz-form-item>
    <nz-form-item>
      <nz-form-label   nzFor="typeofteam" nzRequired>Are you a/an</nz-form-label>
      <nz-form-control >
        <nz-select formControlName="typeOfTeam" style="width:200px">
            <nz-option nzValue="Individual" nzLabel="Individual"></nz-option>
            <nz-option nzValue="Team of 2" nzLabel="Team of 2"></nz-option>
            <nz-option nzValue="Team of 4" nzLabel="Team of 4"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
   
         <button nz-button nzType="primary" style="margin-top: 5px"(click)="loadCode()"
            >Check</button>
                      
        </h1>
  </div>

  <div *ngIf="codeValid">
    <nz-form-item *ngIf="team">
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" *ngIf="team">Team Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="teamName" formControlName="teamName" style="width: 200px;">
          <!-- <nz-form-explain
            *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
            Please input your first name!</nz-form-explain>
            <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
              only include characters!</nz-form-explain> -->
            </nz-form-control>
        </nz-form-item>
    <!-- <div *ngFor="let team of formCounter" > -->
        <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname">Personal Information</nz-form-label>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>First Name</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input nz-input id="firstName" formControlName="firstName" style="width: 200px;"><br>
            <!-- <nz-form-explain
              *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
              Please input your first name!</nz-form-explain>
              <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
                only include characters!</nz-form-explain> -->
              </nz-form-control>
          </nz-form-item>
        <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Last Name</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input id="lastName" formControlName="lastName" style="width: 200px;">
                <!-- <nz-form-explain
                  *ngIf="editForm.get('lastName').dirty && editForm.get('lastName').errors && !editForm.get('lastName').errors.pattern">
                  Please input your first name!</nz-form-explain>
                  <nz-form-explain *ngIf="editForm.get('lastName').errors && editForm.get('lastName').errors.pattern">Must only
                    include characters!</nz-form-explain> -->
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Full Name</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input nz-input id="fullName" formControlName="fullName" style="width: 200px;"><br>
                      <span><I> Note: Full name should be as your national ID </I></span>
                      <!-- <nz-form-explain
                        *ngIf="editForm.get('lastName').dirty && editForm.get('lastName').errors && !editForm.get('lastName').errors.pattern">
                        Please input your first name!</nz-form-explain>
                        <nz-form-explain *ngIf="editForm.get('lastName').errors && editForm.get('lastName').errors.pattern">Must only
                          include characters!</nz-form-explain> -->
                        </nz-form-control>
                      </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>Date of Birth</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-date-picker nzShowDate nzFormat="yyyy-MM-dd" formControlName="DoB"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
          <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="Gender" nzRequired>Gender</nz-form-label>
  
                <nz-form-control [nzSm]="16" [nzXs]="24">
                  <nz-select formControlName="Gender" style="width:200px">
                      <nz-option nzValue="Male" nzLabel="Male"></nz-option>
                      <nz-option nzValue="Female" nzLabel="Female"></nz-option>
                      <nz-option nzValue="Other" nzLabel="Other"></nz-option>
                    </nz-select>
                  </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>email</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                  <input nz-input id="email" formControlName="email" style="width: 200px;">
                  <!-- <nz-form-explain
                    *ngIf="editForm.get('email').dirty && editForm.get('email').errors && !editForm.get('email').errors.pattern">
                    Please input your email!</nz-form-explain>
                  <nz-form-explain *ngIf="editForm.get('email').errors && editForm.get('email').errors.pattern">Please enter a
                    valid email that must be @dell.com or @emc.com!</nz-form-explain> -->
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Phone Number</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                  <input nz-input id="phoneNum" formControlName="phoneNum" style="width: 200px;">
                  <!-- <nz-form-explain
                    *ngIf="editForm.get('email').dirty && editForm.get('email').errors && !editForm.get('email').errors.pattern">
                    Please input your email!</nz-form-explain>
                  <nz-form-explain *ngIf="editForm.get('email').errors && editForm.get('email').errors.pattern">Please enter a
                    valid email that must be @dell.com or @emc.com!</nz-form-explain> -->
                </nz-form-control>
              </nz-form-item>
              
                <nz-form-item *ngIf="showCompany">
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" >Company</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input nz-input id="company" formControlName="organisation" style="width: 200px;">
                      <!-- <nz-form-explain
                        *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
                        Please input your first name!</nz-form-explain>
                        <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
                          only include characters!</nz-form-explain> -->
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item *ngIf="showUniveristy">
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Upload University ID</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <div class="form-group">
                        <label for="file">Choose File</label>
                        <input type="file"
                               id="file"
                               (change)="handleFileInput($event.target.files)">
                      </div>
                        
                          </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>National ID</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input nz-input id="nationalID" formControlName="nationalID" style="width: 200px;">
                      <!-- <nz-form-explain
                        *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
                        Please input your first name!</nz-form-explain>
                        <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
                          only include characters!</nz-form-explain> -->
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item >
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Upload National ID</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <!-- <nz-upload nzAction="">
                        <button nz-button id="file" (click)="handleFileInput($event.target.files)"><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
                      </nz-upload> -->
                      <div class="form-group">
                        <label for="file">Choose File</label>
                        <input type="file"
                               id="file"
                               (change)="handleFileInput($event.target.files)">
                      </div>
                        
                          </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="tshirtSize" nzRequired>Tshirt Size</nz-form-label>
                  <nz-form-control >
                    <nz-select formControlName="tshirtSize" style="width:200px">
                        <nz-option nzValue="Small" nzLabel="Small"></nz-option>
                        <nz-option nzValue="Medium" nzLabel="Medium"></nz-option>
                        <nz-option nzValue="Large" nzLabel="Large"></nz-option>
                        <nz-option nzValue="X-Large" nzLabel="X-Large"></nz-option>
                        <nz-option nzValue="XX-Large" nzLabel="XX-Large"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                <nz-form-item *ngIf="!team || !notFinished">
                    <button nz-button nzType="primary" style="margin-top: 5px"(click)="refreshAndAdd()"
                    >Submit</button>
                </nz-form-item>
                <nz-form-item *ngIf="team && notFinished">
                    <button nz-button nzType="primary" style="margin-top: 5px"(click)="refreshAndAdd()"
                    >Next Member</button>
                </nz-form-item>
      <!-- </div> -->

  </div>
              
</form>

<!-- <div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div> -->