<h1 style="text-align: center; color: steelblue; font-size: 28px; font-weight: bold;">Dell Technologies/ Marathon 2019 Waiver of Participation</h1>

<p style="text-align: justify; color: black; font-size: 18px;">
  I hereby confirm that I'm at least 18 years old, I certify that I’m in a good health, and that I’m medically fit and properly trained to be participating in Dell Technologies/ Marathon 2019 (“Event”) organized by Dell Technologies (“Organizer”). I also confirm my knowledge that my participation may lead to injuries or fatal accidents.
  <br><br>
  I also agree to abide by all the Rules & Regulations as provided and as will be provided to me by The Organizer including the right of any official to deny or suspend my participation for any reason whatsoever. I also attest to abide by any decision of any Event official related to my ability to safely complete the event.
  <br><br>
  Having read this waiver and knowing these facts and in consideration of your accepting my participation, I hereby waive and release Dell Technologies, their representatives and successors from all claims or liabilities of any kind arising out of my participation in the Dell Technologies/Marathon 2019.
  <br><br>
  Furthermore, I grant permission to the Organizer and any of its agents or service providers ,to use my name, photographs, motion pictures, recordings or any other record taken in the course of this Event for media activities including but not limited to television channels and social media platforms and for any other legitimate purpose in its sole discretion.
  <br><br><br>
</p>

<label nz-checkbox (click)="changeWaiver()" style="float: right; font-weight: bold; font-size: 14px;">I confirm the aforementioned information</label>
<br>
<br>
<button nz-button nzType="primary" style="margin-top: 5px" (click)="next();"
        [disabled]='!waiver' style="float: right">Next</button>
